html, body 
  height: 100%
  margin: 0
  background: #16a085; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #16a085, #f4d03f); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #16a085, #f4d03f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Open Sans', sans-serif !important;
  color: white !important

h1.header
  font-family: 'Pacifico', cursive !important
  font-size: 64px

.container 
  text-align: center
  min-height: 75%

.container.image
  padding: 20px

.button 
  background-color: transparent
  background-repeat: no-repeat
  border: 1px white solid;
  color: white
  border-radius: 5px
  padding: 10px
  cursor:pointer
  overflow: hidden
  outline:none
  text-decoration: none
  display: block
  margin-top: 20px
  margin-bottom: 20px
  line-height: 30px
  height: 60px

  &:hover, &:visited, &:link, &:active {
    text-decoration: none
  }

  &:active {
    color: #16a085 !important /* Fallback for older browsers */
    background-color: #fff
  }

  &.disabled {
    color: #ddd !important
    color: rgba(255, 255, 255, 0.5) !important
    cursor: default
    line-height: 20px

    &:active {
      color: #ddd !important
      background-color: transparent !important
    }
  }


.button-wrapper
  margin: 50px
  padding-bottom: 0px

@media (min-width: 768px) { 
  .button-wrapper {
    padding-bottom: 100px
  }
}


p b
  margin: 10px
  font-weight: 700
  display: block

.faq
  width: 300px
  margin: auto

a
  color: #fff !important
  font-weight: 700 !important
  text-decoration: none

footer, .push
  margin-top: 70px
  height: 50px
  line-height: 50px
  text-align: center
  font-weight: 400
  font-size: 10px
  color: #ddd

footer a 
  text-decoration: none

img 
  max-width: 100%

.spinner
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;


.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
