<html>
  <head>
    <title>Zapsnap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/reset.css" rel="stylesheet"></link>
    <link href="/public/main.css" rel="stylesheet"></link>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-102563657-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body>
    <div class='container image'>
      {{#if infoHash}}
        <div class="spinner" id="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
        <img id="downloaded" data-info-hash="{{infoHash}}"/>
      {{else}}
        <img id="seeded" src="data:image/jpeg;base64,{{base64}}"/>
      {{/if}}
      <p class='status'></p>
    </div>

    <footer>
      <a href="https://twobucks.co">Two Bucks</a> © 2017
    </footer>

  </body>
  <script type='text/javascript' src="/public/bundle.min.js"></script>
</html>
